# laravel
/vendor
/node_modules
.env
.env.testing

/storage/upload/*
/storage/logs/*
!/storage/logs/.gitkeep
/storage/framework/cache/*
!/storage/framework/cache/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/testing/*
!/storage/framework/testing/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitkeep

# eclipse specific
_ide_helper.php
@TODO
.buildpath
.project
.settings
/.metadata/
/composer.lock
.phpunit.result.cache
.history
