# laravel
/vendor
/node_modules
.env
.env.testing

/storage/upload/*
/storage/logs/*
!/storage/logs/.gitkeep
/storage/framework/cache/*
!/storage/framework/cache/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/testing/*
!/storage/framework/testing/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitkeep

# eclipse specific
_ide_helper.php
@TODO
.buildpath
.project
.settings
/.metadata/
.phpunit.result.cache
.history
/.vs/MIP_museumsinformationportal_backend/FileContentIndex/08dc3956-4040-482c-bf9f-982aae6286fa.vsidx
/.vs/MIP_museumsinformationportal_backend/FileContentIndex/a141c3a2-6f1c-4a08-9b9a-a258c2a07772.vsidx
/.vs/MIP_museumsinformationportal_backend/FileContentIndex/46de0df2-bb24-467d-aebd-4d05b4fa9b22.vsidx
/.vs/MIP_museumsinformationportal_backend/FileContentIndex/4dbac6d7-0d40-4792-8cb8-bb420f3dcdc1.vsidx
/.vs/MIP_museumsinformationportal_backend/FileContentIndex/90561760-fbdd-443f-bade-79d4b144958e.vsidx
/.vs/MIP_museumsinformationportal_backend/FileContentIndex/fe5f6a0b-c595-4932-9f9e-7f969ae4bfae.vsidx
/.vs/MIP_museumsinformationportal_backend/FileContentIndex/39dc744e-cf32-4e87-8d59-59c0aa455ccb.vsidx
/.vs/MIP_museumsinformationportal_backend/FileContentIndex/a7b9eabd-fc8e-4718-b558-b6903a6d0147.vsidx
/.vs/MIP_museumsinformationportal_backend/FileContentIndex
/.vs/MIP_museumsinformationportal_backend/v17
/.vs
/storage/app
/.gitignore
